* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: #1F2937;
    color: white;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.logo {
    font-size: 24px;
}

.logo a {
    color: white;

    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top:1rem;
    }

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    list-style-type: none;
    padding-left: 1rem;
}

nav ul li a {
text-decoration: none;
color: #E5E7EB;
list-style-type: none;
}

h1 {
    font-size: 48px;
    max-width: 400px;
}

.header-left {
    padding-left: 5rem;
    max-height: 200px;
}

.header-left p {
    font-size: 18px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-wrap: nowrap;
}

.header-left button {
    width: 7rem;
    height: 2rem;
    color: white;
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 6px;
    border-style: none;
}

.header-right {
    flex: 1;
    padding-right: 5rem;
}

.img-holder {
    height: 200px;
    width: 30rem;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
