* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: #1F2937;
    color: white;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.logo {
    font-size: 24px;
}

.logo a {
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top:1rem;
    }

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    list-style-type: none;
    padding-left: 2rem;
}

nav ul li a {
text-decoration: none;
color: #E5E7EB;
list-style-type: none;
}

h1 {
    font-size: 48px;
    max-width: 350px;
    padding-bottom: .5rem;
}

.header-left {
    max-height: 350px;
    width: 30rem;
    gap: 5rem;
}

.header-left p {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: .5rem;

}

.header-left button {
    width: 6rem;
    height: 2rem;
    color: white;
    font-size: 18px;
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 8px;
    border-style: none;
}

.header-right {
    max-height: 350px;
    width: 35rem;
}

.img-holder {
    height: 250px;
    width: 35rem;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-gallery-section h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    padding-top: 3rem;
}

.info-gallery-section p {
    width: 9rem;
    text-align: center;
}

.illustration-gallery {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 6rem;
}

.illustration-frame {
    height: 10rem;
    width: 10rem;
    border: 3px solid #3882F6;
    border-radius: 15px;
}

.quote-section {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-section blockquote {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    max-width: 60%;
}

.quote-section blockquote footer {
    font-size: large;
    font-weight: bold;
    text-align: end;
    padding-right: 2rem;
}

.sign-up-section {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-to-action {
    display: flex;
    background-color: #3882F6;
    color: white;
    padding: 3rem 7rem;
    gap: 10rem;
    border-radius: 8px;
}

.call-to-action button {
    width: 6rem;
    height: 2rem;
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    border-color: white;
    border-style: solid;
}

.call-to-action button a {
    color: white;
    text-decoration: none;
}

footer > p {
    background-color: #1F2937;
    color: #E5E7EB;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}